# ignore some folders or files in the docker image

*/temp*
*/*/temp*
temp?

*/node_modules*
*/*/node_modules*
node_modules?

*/model_testing*
*/*/model_testing*
model_testing?

*/deployed_contract*
*/*/deployed_contract*
deployed_contract?

*/logs*
*/*/logs*
logs?

*/*/Ethereum/geth*
*/nodes*

**/.*.sw[po]
